*{
    padding: 0%;
    margin: 0%;
}

header{
    height: 10vh;
    background-color: tomato;
    display: flex;
    align-items: center;
}

main{
    height: 80vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;
}

img{
    width: 20vw;
    height: 20vh;
}

footer{
    height: 10vh;
    background-color: tomato;
    display: flex;
    align-items: center;
}