*{
    margin: 0%;
    padding: 0%;
}

h2, footer{
    background-color: #32292f;
    color:  rgba(255, 255, 255, 0.856);
    padding: 2vh;
}

table{
    background-color: #dbd9db;
}

table, th, td{
    border: 1px solid black;
}